

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detail</title>
    <script src="../../static/bootstrap/js/bootstrap.esm.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="../static/bootstrap/css/csdnstyle.css"/>-->


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      img {
        max-width: 800px;
      }

    </style>

    <script type="text/javascript">

        window.onload = function(){
            var getEle = document.getElementsByTagName("img");
            var getEle_divLeft = document.getElementById("div_left");
            for(var i=0; i<getEle.length; i++){
                getEle[i].style["max-width"] = getEle_divLeft.offsetWidth - 40 + "px"; //这里-40是padding的左右宽度和
                getEle[i].style["display"] = "inline";
            }
        }

    </script>

    <link href="../../static/bootstrap/css/weird.css" rel="stylesheet">
    <link href="../../static/bootstrap/css/blog.css" rel="stylesheet">
</head>
<body>

<div class="container">
  <header class="blog-header lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="text-center">
        <a class="blog-header-logo text-dark" href="../" style="font-size: 50px">NDSC Blog</a>
      </div>
    </div>
  </header>



  <div class="nav-scroller py-0 mb-1 border-bottom mb-1 bg-black">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 link-light" href="../C++/1"><abbr title="C++: 共931条相关博客">C++</abbr></a>
      <a class="p-2 link-light" href="../Python/1"><abbr title="Python: 共836条相关博客">Python</abbr></a>
      <a class="p-2 link-light" href="../Java/1"><abbr title="Java: 共1061条相关博客">Java</abbr></a>
      <a class="p-2 link-light" href="../JavaScript/1"><abbr title="JavaScript: 共556条相关博客">JavaScript</abbr></a>
      <a class="p-2 link-light" href="../Csharp/1"><abbr title="C#: 共639条相关博客">C#</abbr></a>
      <a class="p-2 link-light" href="../SQL/1"><abbr title="SQL: 共1069条相关博客">SQL</abbr></a>
      <a class="p-2 link-light" href="../PHP/1"><abbr title="PHP: 共653条相关博客">PHP</abbr></a>
      <a class="p-2 link-light" href="../Others/1"><abbr title="其他: 共1023条博客">其他</abbr></a>
      <a class="p-2 link-light" href="../All/1"><abbr title="本站共收录博客5099条">全部博客</abbr></a>
    </nav>
  </div>

</div>
<div class="container">
    <div class="row g-8">
        <div class="col-md-8">
          <br>
            <h1><strong>{{ blog_data.blog_title }}</strong></h1>
          <br>

          <div class="bg-light rounded p-4 mb-1">
              <h6><strong>Tag:</strong></h6>
              {% for i in tags %}
                  <div class="d-inline">{{i}}</div>
              {% endfor %}
          </div>

          <br>
          <div class="container-md">
              {{ blog_data.content | safe}}
          </div>
          <br>

          <class class="container bg-light">
              <br>
              <div class="text-dark fs-3"><strong>评论区</strong></div>
              <br>
              {% for i in commentset %}
                  <div class="row">
                      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-5 shadow-sm h-md-200 position-relative">
                            <div class="col px-5 py-3 d-flex flex-column position-static">
                              <div class="mb-1 text-primary">{{ i.name }}:</div>
                              <div class="card-text">{{ i.content }}</div>
                            </div>
                      </div>
                    </div>
              {% endfor %}
              <br>
              <form method="post">
                {% csrf_token %}
                <div class="mb-3 mt-3">
                  <label for="audience" class="form-label">请输入昵称：</label>
                  <input class="form-control" id="audience" name="audience"></input>
                </div>
                <div class="mb-3 mt-3">
                  <label for="comment">请输入评论：</label>
                  <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-primary justify-content-end">提交</button>
                <br><br>
              </form>
          </class>
          <br>


        </div>
        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded">
              <div  style="width:75px; height:75px; border-radius:100%; overflow:hidden;">
                <img src={{ blog_data.writerProfileAdress }}>
              </div>
              <br>
              <h3 class=""><strong>{{ blog_data.writerName }}</strong></h3>
              <table class="table">
                  <thead>
                    <tr>
                        <th>原创</th>
                        <th>周排名</th>
                        <th>总排名</th>
                        <th>访问</th>
                        <th>等级</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>{{ blog_data.writerBlogNum }}</td>
                        <td>{{ blog_data.writerRankWeekly }}</td>
                        <td>{{ blog_data.writerRankTotal }}</td>
                        <td>{{ blog_data.writerVisitNum }}</td>
                        <td>{{ blog_data.writerGrade }}</td>
                    </tr>
                  </tbody>
              </table>
              <table class="table">
                  <thead>
                    <tr>
                        <th>积分</th>
                        <th>粉丝</th>
                        <th>获赞</th>
                        <th>评论</th>
                        <th>收藏</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>{{ blog_data.writerIntegral }}</td>
                        <td>{{ blog_data.writerFan }}</td>
                        <td>{{ blog_data.writerThumb }}</td>
                        <td>{{ blog_data.writerComment }}</td>
                        <td>{{ blog_data.writerCollect }}</td>
                    </tr>
                  </tbody>
              </table>
              <div class="text-dark p-2">
                  <div><strong>本文{{ blog_data.blog_time }}</strong></div>
                  <div><strong>阅读：{{ blog_data.blog_read_count }}</strong></div>
              </div>
            </div>

            <div class="p-4">
              <h4 class="fst-italic">Elsewhere</h4>
              <ol class="list-unstyled">
                <li><a href="../">首页</a></li>
                <li><a href="../All/1">博客列表页</a></li>
              </ol>
            </div>
          </div>
        </div>
    </div>
</div>

<footer class="blog-footer">
  <p>最终解释权归<a href="https://gushitong.baidu.com/stock/ab-600298">AnQi</a>所有.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>

</body>
</html>